<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Newsfeed</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link href="mystyle/style.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-md">
    <div style="margin-left: 15%;">
      <div>
        <a style="color: tomato; font-size: 30px;" href="/"><i class="icon bi bi-reddit"></i></a>
        <a class="navbar-brand" href="/" style="color: mediumblue; font-weight: bold; float: right; margin-left: 15px;">
          Spring Reddit Clone
        </a>
      </div>
    </div>
      <div style="margin-right: 15%;">
        <button type="button" class="btn btn-primary btn-sm"><small><b>SIGN UP</b></small></button>
        <button type="button" class="btn btn-outline-primary btn-sm"><small><b>LOGIN</b></small></button>
      </div>
    </div>
</nav>
<div class="container-lg mt-4">
  <div class="row">
    <div class="col-lg-8">
      <table class="table">
        <tbody>
          <tr th:each="posts : ${post}">
            <td class="my-3">
              <div class="row border">
                <div class="col-lg-1 text-center" style="font-weight: bold">
                  <br>
                  <a th:href="@{/up/{vote}(vote=${posts.vote})}">
                    <button type="button" class="btn btn-light btn-sm mb-3"><i class="bi bi-arrow-up mt"></i></button>
                  </a>
                  <p th:text="${posts.vote}"></p>
                  <a th:href="@{/down/{vote}(vote=${posts.vote})}">
                    <button type="button" class="btn btn-light btn-sm mb-3"><i class="bi bi-arrow-down mt"></i></button>
                  </a>
                </div>
              <div class="col-lg-11">

              <ul class="list-group list-group-flush">
                <li class="list-group-item card-header">
                  <b th:text="${posts.subreddit}">Springboot</b><small class="mx-2" th:text="${posts.dateTime}"></small>
                  <a th:href="@{/delete/{id}(id=${posts.id})}"><button style="float: right" type="button" class="btn btn-danger btn-sm">Delete</button></a>
                </li>
                <li class="list-group-item card-body">
                  <h3 th:text="${posts.title}" class="card-text my-3">
                    A Spring Boot
                  </h3>
                  <p th:text="${posts.description}" class="my-2 mb-5">
                    <small> A Spring Boot</small>
                  </p>
                  <img th:src="@{'/photo/' + ${posts.image}}" style="width: auto; height: 300px"/>
                </li>
                <li class="list-group-item">
                  <i class="bi bi-chat-text">Comment(<span th:text="${posts.comment}"></span>)</i>

                  <a href="/view/post" class="btn btn-primary btn-sm"><small>READ POST</small></a> <br>
                </li>
              </ul>
          </div>
        </div>
      </td>
      </tr>
      </tbody>
      </table>
    </div>
    <div class="col-lg-4">

      <div class="card" style="width: 18rem;">
        <img src="https://netbasequid.com/wp-content/uploads/header-13.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text" style="text-align: justify;">
            Welcome to Spring Reddit Clone home page. Come here to check in with your favorite subreddits.
          </p>
          <a href="/post/create" style="width: 100%;" class="btn btn-primary btn-sm"><small><b>CREATE POST</b></small></a> <br>
          <a href="/subreddit/create" style="width: 100%;" class="btn btn-outline-primary btn-sm mt-2"><small><b>CREATE SUBREDDIT</b></small></a>
        </div>
      </div>

      <div class="card mt-3" style="width: 18rem;">
        <div class="card-header">
          <b>Browse Subreddits</b>
        </div>
       <table class="table">
         <tbody>
         <tr th:each="subreddits : ${subreddit}">
           <td th:text="${subreddits.title}"></td>
         </tr>
         </tbody>
       </table>
        <div class="card-footer text-center">
          View All
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>